*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    border: 5px solid black;

    /* padding: 20px; */
    /* padding 4 chieeuf */
    /* 10px la top 20px laf left right  */
    /* padding: 10px 20px; */
    /* 10 tren 20 trai phai 30duoi */
    /* padding: 10px 20px 30px; */

    /* padding: 10px 20px 30px 40px; */


}

p{
    margin-bottom:100px;
}

.box{
    width: 400px;
    height: 200px;
   background-color: black;

   padding: 0px 20px;
   border: 10px solid red;
   box-sizing: border-box;
}

.mail{
    
}