*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto,sans-serif;
}

.khung{
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;
    border: 1px solid #000;
    justify-content: space-around;
    background-color: #007aff;
    
    min-height: 300px;
    font-size: 25px;
    margin-bottom: 10px;
    
}

h2{
    margin-bottom: 15px;
}
p{
    margin-bottom: 10px;
}

h3{
    margin-bottom: 20px;
    margin-top: 35px;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    font-size: 50px;
}

p{
    font-size: 25px;
}

.button{
    font-size: 30px;
}

h4{
    font-size: 40px;
}