*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 600px;
    background-color: bisque;
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;
    width: 45px;
}
.item{
    width: 100px;
    height: 100px;
    background-color: dodgerblue;
    color: #fff;
    font-size: 2rem;
    border: 1px solid #000;
    /* line-height: 100px;
    text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.item1{
    order: 4;
    flex-basis: 300px;
    /* align-self: ; */
}
.item3{
    order: 5;
}
.item4{
    order: -1;
}

